body {
  /*background-color: #D3D3D3;*/
  font-family: 'Comfortaa', cursive;
  background-image: url('../img/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  font-size: 25px;
}

nav li:hover {
  cursor: pointer;
}

nav a {
  color: inherit;
  text-shadow: 2px 2px 3px;
}

img {
  width: 100%;
  border-radius: 4px;
}

h3 {
  font-size: 3em;
}

code {
  white-space: nowrap;
}

footer {
  text-align: center;
  margin: 1em 0;
  padding-top: 1.5em;
  border-top: .2em solid #333;
}

#footLinks {
  margin: 0 auto;
}

.modal-content {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.modal-header {
  text-align: center;
  background-color: #D3D3D3;
}

.modal-body {
  background-color: #D3D3D3;
  font-size: 1.5em;
}

.fly-in-text {
  list-style: none;
  margin: 4em 0 6em 0;
}

.fly-in-text li {
  display: inline-block;
  margin-right: 50px;
  font-weight: 300;
  font-size: 8em;
  opacity: 1;
  transition: all 2.5s ease;
  text-shadow: 4px 4px 3px;
}

.fly-in-text li:last-child {
  margin-right: 0;
}

.fly-in-text.hddn li {
  opacity: 0;
}

.fly-in-text.hddn li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hddn li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}

.fly-in-text.hddn li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hddn li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hddn li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hddn li:nth-child(6) {
  transform: translateX(20px) translateY(-20px);
}

.fly-in-text.hddn li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}

.m {
  margin: 1em 0;
}

.row {
  padding: 15px 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

.welcome {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.panel-heading {
  padding: 0;
  position: relative;
  transition: .2s;
  border-radius: 4px;
  box-shadow: 4px 4px 3px;
}

.panel-body {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: black;
  text-align: left;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .4s, visibility .4s;
  width: 100%;
}

.panel-heading:hover img {
  filter: blur(2px) brightness(60%);
}

.panel-heading:hover .panel-body {
  visibility: visible;
  opacity: .65;
  background-color: #cccccc;
  color: black;
}
